# Dependencies
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# System files
*.stackdump

# Temporary files
*.log
*.tmp

# IDE
.idea/
.vscode/
*.swp
*.swo